.nav1{
    height:7vh;
    width:101%;
    background-color: #333333;
    position: relative;
    top:-8px;
    left:-8px;
    display: flex;
    justify-content: space-between;
    z-index: 99;
}
h1{
    margin-top: 40px;
}
.p1{
    height:99%;
    width:450px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.p1 img:hover{
    cursor: pointer;
}
.nav1 img{
    height:69%;
    width:20%;

}
#view{
    height:100%;
    width:60%;
    color:white;
    background-color: #555555;
    padding-top: 14px;
    padding-left:22px;
    font-size: 13px;
    z-index: 99;
    box-sizing: border-box;
    z-index: 99;
}
#view:hover{
    cursor: pointer;
}
#slide{
    height:400px;
    width:300px;
    color: white;
    background-color: #555555;
    position: absolute;
    left:150px;
    top:-200px;
    opacity: 0;
    box-sizing: border-box;
    overflow: hidden;
    transition-duration: 1s;
    z-index: -1;
}
#slide h2,p{
    margin-left: 20px;
}
#view:hover #slide{
    opacity: 0.7;
    top:44px;
    z-index: 88;
}
.p2{
    height:99%;
    width:450px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-weight: bold;
    /* border: 1px solid red; */
}
#buy{
    /* border: 1px solid red; */
    height:100%;
    width:40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#buy:hover{
    cursor: pointer;
    text-decoration: underline;
}
#dwn{
    /* border: 1px solid red; */
    height:100%;
    width:59%;
    background-color: #77CC33;
    display: flex;
    justify-content: center;
    align-items: center;
}
#dwn:hover{
    cursor: pointer;
    text-decoration: underline;
}
/* ////////////////// */
.nav2{
    height:9vh;
    width:100%;
    /* border:1px solid lightgrey; */
    position: relative;
}
.nav2 h1{
    position: absolute;
    top:-9px;
    left:20px;
    color:green;
}
.nav2 ul{
    height:20%;
    width: 48%;
    list-style: none;
    position: absolute;
    top:24%;
    right:0%;
    /* border: 1px solid red; */
    font-size: 13px;
}

.nav2 li{
    display: inline;
    margin-top: 30px;
    margin-left: 20px;
}
.nav2 .li:hover{
    border-bottom: 2px solid #77CC33;
    padding-bottom: 20px;
    color: #77CC33;
    cursor: pointer;
}
.nav2 img{
    position: absolute;
    top:10px;
    right:10%;
    opacity: 0;
}
.nav2 img:hover .sdiv{
    
}
.op{
    height:450PX;
    width:230px;
    background-color: white;
    opacity: 0;
    /* z-index: s-1; */
    color:grey;  
    /* border: 1px solid red; */
    position: absolute;
    left:250px;
    top:37px;
    transition-duration:1s;
}
.op2{
    height:340PX;
    width:230px;
    background-color: white;
    opacity: 0;
    /* border: 1px solid red; */
    z-index: 99;
    color:grey;
    position: absolute;
    left:360px;
    top:37px;
    transition-duration: 1s;
}
.op ul{
    /* border: 1px solid red;; */
    height:100%;
    width:100%;
    box-sizing: border-box;
    position: absolute;
    top:0px;
    left:100px;
    line-height: 60px;
    font-size: 16px;
}
.op li{
   margin-left:-228px;
}
.op li:hover{
    color:black;
    /* background: grey; */
    cursor: pointer;
}

.op2 ul{
    /* border: 1px solid red;; */
    height:100%;
    width:100%;
    box-sizing: border-box;
    position: absolute;
    top:0px;
    left:0px;
    line-height: 60px;
    font-size: 16px;
}
.op2 li{
   margin-left:-28px;
}
.op2 li:hover{
    color:black;
    /* background: grey; */
    cursor: pointer;
}
.lif:hover .op{
    opacity: 1;
    transition-duration: 1s;
}
.lip:hover .op2{
    opacity: 1;
    transition-duration: 1s;

}

/* //// */

.d1{
    height:480px;
    width:100%;
    /* border: 1px solid red; */
    background-image: url("https://mk0cpothemesdemokfq4.kinstacdn.com/wp-content/uploads/sites/38/2015/06/slide-01.jpg");
    background-size: 100% 100%;
    margin-top: -6px;
    position: relative;
    text-align: center;
}
button{
    border:none;
}
.d1 h1{
    color: #18253C;
    font-weight: bold;
 }
.d1 p{
   color: #77CC33;
}
.d1 button{
    height:50px;
    width:200px;
    background: #70B85D;
    color:white;
}
.i{
    height:60px;
    width:60px;
    /* border:1px solid red; */
    z-index: 99;
    position: absolute;
    top:10px;
    right:50px;
    display: none;
}
.i .uld{
    height:545px;
    width:400px;
    background-color: white;
    /* border: 1px solid red; */
    position: absolute;
    top:0px;
    left:-900px;
    z-index: 99;
    transition-duration: 1s;

}
.i:hover .uld{
    left:-400px;
}
.i:hover{
    transform: scale(1.1);
}
.uld p{
    font-size: 20px;
    color:gray;
    text-align: left;
    margin-left: 40px;
}
.uld pre{
    font-size: 19px;
    color:gray;
    text-align: left;
    margin-left: 60px;
}
/* //////// */
#k{
    text-align: center;
    color: #18253C;
}
#l{
    width:10%;
    border-bottom: 1px solid #70B85D;
}
.d2{
    height:300px;
    width:100%;
    /* border:1px solid pink; */
    display: flex;
    justify-content: space-evenly;
}
.d2 .sd{
    height:99%;
    width:27%;
    /* border:1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition-duration: 1s;;
}
.sd:hover{
    transform:scale(1.2);  transition-duration: 1s;;
}
.sd:hover .roll{
    transform: scale(0.8);  transition-duration: 1s;;
}
.roll{
    height:100px;
    width:100px;
    border: 1px solid #70B85D;
    border-radius: 50%;
    background-image: url("./img/icon.PNG");
    background-size: 100% 100%;
}
.sd p{
    color:grey;
    text-align: center;
    line-height: 27px;
}

/* //////////////////// */
.d3{
    height:200px;
    width:100%;
    background: #18253C;
    padding-top:3%;
    padding-left:5%;
    margin-top: 40px;
    box-sizing: border-box;
    position: relative;
}
.d3 p{
    font-size: 45px;
    position: absolute;
    top:6px;
    color:white;

}
/* //////////////// */
#take{
    text-align: center;
    color: #18253C;
}
.d4, .d5{
    height:300px;
    width:95%;
    /* border:1px solid red; */
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
.d4s{
    height:100%;
    width:33%;
    /* border:1px solid blue; */
    position: relative; 
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.d4 img{
    height:100%;
    width:100%;
    position: absolute;
    top:0%;
    transition-duration: 0.7s;
}
.d4s:hover .img{
    transform: scale(1.2);
}
.d4s .gd{
    height: 100%;
    width:100%;
    background-color:#70B85D ;
    opacity: 0px;
    color:white;
    padding-top: 20%;
    padding-left: 10%;
    box-sizing: border-box;
    position: absolute;
    top:0%;
    opacity: 0;
    transition-duration: 0.7s;
}
.gd:hover{
    opacity: 0.7;
}
.gd p{
    line-height: 25px;
}
.rockr{
    height:50px;
    width:50px;
    border-radius: 50%;
    background: #3E4347;
    position: absolute;
    top:70%;
    left:40%;
    overflow: hidden;
    opacity: 0.8;
}
.rockr img{
    position: absolute;
    top:9px;
    left:7px;
    height:60%;
    width:60%;
    z-index: 88;
}
/* ///////////////// */
.back{
    height:550px;
    width:100%;
    /* border: 1px solid red; */
    background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0.5),rgba(250, 250, 250, 0.5)), url("https://mk0cpothemesdemokfq4.kinstacdn.com/wp-content/uploads/sites/38/2015/06/slide-01.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
}
.d6{
    /* border: 1px solid green; */
    height:200px;
    width:100%;
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: nowrap; */
}
.d6s{
    height:150px;
    width:50%;
    /* border:1px solid grey; */
    border-radius: 10px;
    position: relative;
 
}
.d6s img{
    height:55px;
    width:60px;
    position: absolute;
    left:10px;
    top:30px;
    color:#70B85D;
}
.d6s img:hover{
    border: 3px solid #70B85D;
    box-sizing: border-box;
}
.d6s h2{
    position: absolute;
    left:70px;
    top:10px;
}
.d6 h2:hover{
    cursor: pointer;
    text-decoration: underline;
}
.d6s p{
    position: absolute;
    left:70px;
    top:50px;
    line-height: 25px;
    font-size: 13px;
}

/* //////////////// */
#take2{
    text-align: center;
    color: #18253C;
}
.d7{
    height:350px;
    width:100%;
    /* border:1px solid red; */
    /* background: lightgrey; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0.8),rgba(250, 250, 250, 0.8)), url("https://mk0cpothemesdemokfq4.kinstacdn.com/wp-content/uploads/sites/38/2015/06/slide-01.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
}
.d7s{
    height:100%;
    width:30%;
    border:1px solid #F7F7F8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;
    padding-top: 5px;
    padding-bottom: 1px;
    box-sizing: border-box;
}
.d7s:hover{
    color:black;
}
.d7s:hover p{
    color:black;
}
.d7s img{
    height:80px;
    width:80px;
    opacity: 0.5;
}
.d7s img:hover{
    opacity: 1;
}
.d7s p{
    font-size: 15px;
    line-height: 25px;
    text-align: center;
}
/* //////////// */
.d8{
    height:97px;
    width:95%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
.d8 img{
    height:1005;
    width:17%;

}
/* //////////// */
.back2{
    height:650px;
    width:100%;
    /* border:1px solid red; */
    background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0.5),rgba(250, 250, 250, 0.5)), url("https://mk0cpothemesdemokfq4.kinstacdn.com/wp-content/uploads/sites/38/2015/06/slide-01.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
}
.d9{
    height:380px;
    width:100%;
    /* padding:20px; */
    /* box-sizing: border-box; */
    /* border: 1px solid red; */
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
}
#d91{
    /* border:1px solid blue; */
    height:100%;
    width:50%;
    z-index: 99;
    display: flex;
    justify-content: space-evenly;
}
.d9s{
    height:135%;
    width:40%;
    /* border: 1px solid green; */
    background-color: white;
    box-sizing: border-box;
}
.d9s:hover p{
    color:black;
}
.d9s:hover{
    border: 1px solid;
    background: lightgrey;
}
.d9s img{
    height:57%;
    width:100%;
}
.d9s h3,h6,p{
    margin-left: 29px;;
}
.d9s p{
    line-height: 30px;
}
.d9s h6,p{
    color:grey;
}
.d9s h6{
    font-size: 14px;
}
/* ///////// */
.d10{
    height:1050px;
    width:100%;
    /* border:1px solid red; */
    display: flex;
    justify-content: center;
}
.d10p1{
    height:100%;
    width:75%;
    /* border:1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:grey;
}

.d10p11{
    height:50%;
    width:100%;
    /* border: 1px solid orange; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.d10p2{
    height:100%;
    width:35%;
    /* border:1px solid blue; */
    padding-left: 20px;
    padding-top: 20px;
    box-sizing: border-box;
}

#d10s{
    height:95%;
    width:50%;
    /* border: 1px solid grey; */
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    box-sizing: border-box;
}
#d10s:hover p,h3{
    color:black;
}
.d10s p{
    color:grey;
    font-size: 15px;
    line-height: 20px;;
}
.d10 img{
    height:50%;
    width:100%;
}
.d10p1 button{
    height:50px;
    width:39%;
    color:white;
    background-color: #70B85D;
}
button:hover{
    background-color: rgb(56, 245, 4);
}
.d10p2 input{
    border:1px solid grey;
    height:40px;
    width:300px;
    
}
.d10p2 img{
    height:50px;
    width:50px;
    opacity: 0.7;
}
.d10p2 img:hover{
    opacity: 1;
}
.small{
    height:70px;
    width:60%;
    position: relative;
    top:10px;
    box-sizing: border-box;
}
.small:hover{
    border: 1px solid #70B85D;
}
.small img{
    height:47px;
    width:47px;
    position: absolute;
    top:5px;
    left:10px;
}
.small h5{
    position: absolute;
    top:-9px;
    left:90px;
    color:#70B85D;
}
.small h5:hover{
    text-decoration: underline;
    cursor: pointer;

}
.small p{
    position: absolute;
    top:13px;
    left:60px;
    color:grey;
}
/* ///////////////////// */
.d11{
    height:350px;
    width:100%;
    background: #18253C;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 70px;
    padding-top: 30px;
    box-sizing: border-box;
}
.d11s{
    height:95%;
    width:30%;
}
.d11s h1{
    color:white;
}
.d11s h2{
    color:white;
}
.d11s h5{
    color:#70B85D;
}
.d11s h5:hover{
    text-decoration: underline;
    cursor: pointer;
}
.d11s .cc{
    color:grey;
    font-size: 13px;;
    line-height: 24px;
}
.pp{ 
    font-size: 13px;
    color:#70B85D;
}
.pp:hover{
    text-decoration: underline;
    cursor: pointer;
}
.p{ 
    font-size: 13px;
    color:grey;
}
/* /////////// */
.d12{
    height:40px;
    width:100%;
    background: #18253C;
    position: relative;
    top:-16px;
    padding: 1px;
}
.d12 p{
    color:white;
    text-align: center;
    font-size: 14px;;
}